@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;


}


/* Info Contact*/

.asidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid rgba(255, 136, 0, 0.300);
  width: 400px;
  max-height: max-content;
  height: 800px;
  border-radius: 25px;
  padding: 20px;
  margin: 70px 5px 70px 10px;
  background-color: rgba(0, 0, 0, 0.493);
  font-size: 1.2rem;
}

img {
  border-radius: 25%;
  border: 1px solid rgba(255, 136, 1, 0.450);
  width: 160px;
  background-color: rgba(255, 136, 1, 0.050);
}

.avatar {
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
}

.title {
  font-weight: bold;
  /* Hace que el texto sea más grueso */
  font-size: 20px;
  /* Tamaño de fuente */
  color: whitesmoke;
  /* Color del texto */
  background-color: rgba(255, 136, 1, 0.150);
  /* Color de fondo */
  padding: 5px 10px;
  /* Espacio interno */
  border-radius: 5px;
  /* Borde redondeado */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Sombra */
}

.contact-title {
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(255, 136, 0);
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.info-aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.content-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

}

/* Iconos Contacto  */
.contact-info ion-icon {
  vertical-align: middle;
  /* Alinea verticalmente con el texto */
  margin-right: 10px;
  /* Ajusta el espacio entre el icono y el texto */
  font-size: 30px;
  box-shadow: 2px 2px 4px rgba(245, 132, 3, 0.4);
  /* Agrega una sombra con desplazamiento de 2px horizontal y vertical, desenfoque de 4px y opacidad del 40% */
  border-radius: 20%;
  /* Añade un borde redondeado para que la sombra se vea más natural en los bordes del icono */
  padding: 5px;
  /* Ajusta el espacio alrededor del icono para que la sombra sea visible */

}


/*Main Content */

.main {
  border: 2px solid rgba(255, 136, 0, 0.300);
  max-height: max-content;
  height: 800px;
  border-radius: 25px;
  padding: 20px;
  margin: 70px 20px 70px 5px;
  background-color: rgba(0, 0, 0, 0.493);
  font-size: 1.2rem;
  margin-left: 20px;
  width: 100%;
}

/* Navbar*/

ul.menu-navbar {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 5px;
  flex-direction: row-reverse;

}


ul.menu-navbar ion-icon {
  font-size: 25px;
  color: rgb(255, 136, 0);
  vertical-align: top;
  margin-right: 10px;

}


/* Estilo para el navbar */

.navbar {
  position: fixed;
  right: 0;
  margin-right: 22px;
  padding: 10px;
  border-left: 2px solid rgba(255, 136, 0, 0.3);
  border-bottom: 2px solid rgba(255, 136, 0, 0.3);
  top: 72px;
  border-bottom-left-radius: 20px;
}