@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
}


/* Info Contact*/

.asidebar {
  position: sticky;
  top: 50px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.493);
  padding: 20px;
  border-radius: 25px;
  margin: 0px 20px 0px 250px;
  width: 750px;
}

.avatar-img {
  border-radius: 25%;
  border: 1px solid rgba(255, 136, 1, 0.450);
  width: 160px;
  background-color: rgba(255, 136, 1, 0.050);
}

.avatar-container {
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
}

.title {
  font-weight: bold;
  /* Hace que el texto sea más grueso */
  font-size: 20px;
  /* Tamaño de fuente */
  color: whitesmoke;
  /* Color del texto */
  background-color: rgba(255, 136, 1, 0.150);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: auto;
}

.contact-title,
.social-title {
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(255, 136, 0);
  display: flex;
  justify-content: center;
}

.contact-email {
  font-size: 17px;

}

a {
  color: whitesmoke;
  text-decoration: none;
}

.info-aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.content-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  font-size: 22px;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
}

.contact-email ion-icon {
  font-size: 16px;
  margin-top: 2px;
}

#copyEmail {
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  padding: 2px;
  vertical-align: top;
}

/* Social Info */

.social-info {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0px 0;
  gap: 2px;
}

/* Iconos Contacto  */
.contact-info ion-icon {
  vertical-align: middle;
  margin-right: 10px;
  font-size: 30px;
  box-shadow: 2px 2px 4px rgba(245, 132, 3, 0.4);
  border-radius: 20%;
  padding: 5px;
}

/*Main Content */

.main {
  border: 2px solid rgba(255, 136, 0, 0.300);
  max-height: max-content;
  height: auto;
  border-radius: 25px;
  padding: 20px;
  margin: 50px 300px 70px 5px;
  background-color: rgba(0, 0, 0, 0.493);
  font-size: 1.2rem;
  width: 100%;
}

/* Navbar*/

ul.menu-navbar {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 5px;
  flex-direction: row-reverse;
}


ul.menu-navbar ion-icon {
  font-size: 25px;
  color: rgb(255, 136, 0);
  vertical-align: top;
  margin-right: 10px;
}

.menu-btn:hover {
  color: rgb(255, 136, 0);
}

/* Estilo para el navbar */

.navbar {
  position: absolute;
  right: 0;
  margin-right: 302px;
  padding: 10px;
  border-left: 2px solid rgba(255, 136, 0, 0.3);
  border-bottom: 2px solid rgba(255, 136, 0, 0.3);
  top: 52px;
  border-bottom-left-radius: 20px;
  z-index: 1;
}

/* Sobre mi  */

.about {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.headers {
  color: rgb(255, 136, 0);
  font-weight: bold;
  font-size: 35px;
  display: flex;
  margin-bottom: 20px;
}

.header-about-tecnologias {
  padding: 5px;
  margin: 20px 0 30px 0px;
}

/* Tecnologías */

.tecnologias {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 25px;
}

span h4 {
  color: black;
  font-size: 25px;
  width: 100%;
  padding: 5px;
  margin: 10px;
}

.front-end,
.back-end,
.tools {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  flex: 1 1;
  height: max-content;
  max-width: 100%;
  border-radius: 20px;
  background-color: rgba(245, 233, 220, 0.678);
  box-shadow: rgba(252, 143, 0, 0.678) 0px 0px 15px 1px;
}

.logo {
  width: 100px;
  filter: drop-shadow(15px 2px 4px rgba(0, 0, 0, 0.5));
}

.logos-container {
  display: flex;
  padding: 10px;
  margin: 10px;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

/*Proyectos*/

.list-projects {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  flex: 1 0 calc(33.33% - 20px);
  margin: 10px;
  border-radius: 20px;
}

.project-item img {
  width: 250px;
  height: 200px;
  object-fit: 100% 100%;
  border-radius: 25px;
  box-shadow: rgba(247, 185, 104, 0.678) 0px 0px 15px 1px;
  cursor: pointer;
}

.project-item:hover img {
  transform: scale(1.2);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.565, 0.8);
}

.project-item:not(:hover) img {
  transform: scale(1);
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.565, 0.8);
}

/* Contacto */

.mapbox {
  width: 100%;
}

iframe {
  width: 100%;
  border-radius: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 25px;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(255, 136, 0);
  font-weight: bold;
  font-size: 25px;
}

.contact-form {
  margin-top: 50px;
}

.form-title {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid rgba(255, 136, 0, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  color: whitesmoke;
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: rgba(255, 136, 0, 0.5);
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 136, 0, 0.7);
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
}

.form-btn:hover {
  background-color: rgba(255, 136, 0, 0.9);
}

/*Responsive */

@media screen and (max-width: 1440px) {

  .asidebar {
    max-height: calc(105vh - 100px);
    min-width: calc(60vh - 100px);
    margin: 0 0 0 20px;
  }

  .main {
    margin: 50px 20px 0px 20px;
  }

  .navbar {
    margin-right: 22px;
  }

}

@media screen and (max-width: 1024px) {

  .asidebar {
    max-height: calc(111vh - 100px);
    min-width: calc(58vh - 100px);
    margin: 10px 0 0 20px;
    top: 0;
  }

  .main {
    top: 0;
    margin: 10px 20px 0px 20px;
  }

  .name {
    font-size: 20px;
  }

  .avatar-img {

    width: 110px;
  }

  .social-title {
    font-size: 20px;
  }

  .social-info {
    margin: 0;
    font-size: 15px;
  }

  .navbar {
    font-size: 15px;
    top: 12px;
    margin-right: 22px;
  }

  .project-item {
    flex: 1 1;
    margin: 6px;

  }
}

@media screen and (max-width: 768px) {

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .asidebar {
    width: 90%;
    margin-top: 20px;
    position: relative;
    top: 0;
  }

  .main {
    width: 100%;
    margin: 0;
  }

  .navbar {
    position: relative;
    top: -20px;
    right: -244px;
    width: 500px;

  }

}



@media screen and (max-width: 590px) {

  .asidebar {
    position: relative;
    width: 90%;
    margin-top: 15px;
    left: -10px;
  }

  .contact-email {
    font-size: 12px;
  }

  span {
    display: flex;
    width: 210px;
    margin: 0 0 20px 20px;
  }

  .contact-info ion-icon {
    font-size: 20px;
  }

  .social-info {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    left: -55px;
  }

  .social-info a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
  }

  .social-title {
    display: flex;
    align-items: center;
    margin: 10px 20px 0 0;
  }

  .info-aside {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }

  .avatar-img {
    width: 95px;
    position: relative;
    left: 10px;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main {
    position: relative;
    left: 2px;
    width: 90%;
  }

  a {
    font-size: 10px;
  }

  .navbar {
    position: relative;
    top: -21px;
    right: -20px;
    width: 100%;
  }

  ul.menu-navbar {
    gap: 15px;
  }

  .tecnologias {
    display: flex;
    flex-direction: column;
  }

  .headers {
    margin-top: 15px;
  }

  .project-item img {
    width: 120px;
    height: 120px;

  }

  .content-info {
    width: 240px;
  }

  .title {
    font-size: 15px;
    position: relative;
    left: 10px;
  }


}