@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;


}


/* Info Contact*/

.asidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid rgba(255, 136, 0, 0.300);
  width: auto;
  max-height: max-content;
  height: 800px;
  border-radius: 25px;
  padding: 20px;
  margin: 50px 5px 70px 300px;
  background-color: rgba(0, 0, 0, 0.493);
  font-size: 1.2rem;
}

.avatar-img {
  border-radius: 25%;
  border: 1px solid rgba(255, 136, 1, 0.450);
  width: 160px;
  background-color: rgba(255, 136, 1, 0.050);
}

.avatar-container {
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
}

.title {
  font-weight: bold;
  /* Hace que el texto sea más grueso */
  font-size: 20px;
  /* Tamaño de fuente */
  color: whitesmoke;
  /* Color del texto */
  background-color: rgba(255, 136, 1, 0.150);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.contact-title,
.social-title {
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(255, 136, 0);
  display: flex;
  justify-content: center;
}

.contact-email {
  font-size: 17px;

}

a {
  color: whitesmoke;
  text-decoration: none;
}

.info-aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.content-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;


}

/* Social Info */

.social-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Iconos Contacto  */
.contact-info ion-icon {
  vertical-align: middle;
  margin-right: 10px;
  font-size: 30px;
  box-shadow: 2px 2px 4px rgba(245, 132, 3, 0.4);
  border-radius: 20%;
  padding: 5px;

}


/*Main Content */

.main {
  border: 2px solid rgba(255, 136, 0, 0.300);
  max-height: max-content;
  height: auto;
  border-radius: 25px;
  padding: 20px;
  margin: 50px 300px 70px 5px;
  background-color: rgba(0, 0, 0, 0.493);
  font-size: 1.2rem;
  margin-left: 20px;
  width: 100%;
}

/* Navbar*/

ul.menu-navbar {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 5px;
  flex-direction: row-reverse;

}


ul.menu-navbar ion-icon {
  font-size: 25px;
  color: rgb(255, 136, 0);
  vertical-align: top;
  margin-right: 10px;

}


/* Estilo para el navbar */

.navbar {
  position: absolute;
  right: 0;
  margin-right: 302px;
  padding: 10px;
  border-left: 2px solid rgba(255, 136, 0, 0.3);
  border-bottom: 2px solid rgba(255, 136, 0, 0.3);
  top: 72px;
  border-bottom-left-radius: 20px;
  z-index: 1;
}


/* Sobre mi  */

.about {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.header-about,
.header-about-tecnologias {
  color: rgb(255, 136, 0);
  font-weight: bold;
  font-size: 35px;
  display: flex;
  margin-bottom: 20px;
}

.header-about-tecnologias {
  margin: 20px 0 20px 0px;
}


/* Tecnologías */

.tecnologias {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

span h4 {
  color: black;
  font-size: 25px;
}

.front-end,
.back-end,
.tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 5px;
  border: 2px solid white;
  flex: 1 1;
  height: max-content;
  max-width: 100%;
  border-radius: 20px;
  background-color: rgb(245, 245, 220)
}

.logo {
  width: 55px;
}



/* Contacto */

.contact {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 25px;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(255, 136, 0);
  font-weight: bold;
  font-size: 25px;

}